@{
    ViewData["Title"] = "Import Sales";
}

<div class="card shadow border-0 mt-4">
    <div class="card-header bg-secondary bg-gradient ml-0 py-3">
        <div class="row">
            <div class="col-12 text-center">
                <h2 class="text-white py-2">Import Sales</h2>
            </div>
        </div>
    </div>
    <div class="card-body p-4">
        <div class="border p-3">
            <div class="row py-2 col-12">
                <label>Import Status</label>
                <p id="importStatus">Awaiting import...</p>
            </div>

            <div class="row pt-2">
                <div class="col-6 col-md-3">
                    <button type="button" class="btn btn-primary form-control" id="importButton" @(ViewData["StationCode"].ToString() == "ALL" ? "disabled" : "")>
                        Import Files
                    </button>
                </div>
                <div class="col-6 col-md-3">
                    <a asp-asp-area="User" asp-controller="Home" asp-action="Index" class="btn btn-outline-primary border form-control">Back to Homepage</a>
                </div>
            </div>
        </div>
    </div>
</div>

@section Scripts {
    <script>
        $(document).ready(function () {
            $("#importButton").click(function () {
                $("#importStatus").text("Importing files...");

                $.ajax({
                    url: "",
                    type: "POST",
                    success: function (response) {
                        $("#importStatus").text(response.message);
                    },
                    error: function (error) {
                        $("#importStatus").text("Error: " + error.responseText);
                    }
                });
            });
        });
    </script>
}
