@model IBS.Models.MMSI.MasterFile.MMSICustomer

@{
    ViewData["Title"] = "Create";
}
<html class="bg-light">
<body class="bg-light">

<div class="card text-dark bg-white  m-4">
    <div class="h1 fw-lighter p-3 align-middle text-center card-header bg-dark bg-gradient text-white">
        <i class="bi bi-pencil-square"></i> Create Customer
    </div>
    <div class="card-body">
        <form method="post" class="row">
            <div class="border-2 px-3">
                <div asp-validation-summary="ModelOnly"></div>
                <div class="row pt-2">
                    <div class="form-floating col-6 my-3">
                        <input asp-for="CustomerName" type="text" class="form-control border-0 shadow" id="CustomerName" placeholder=" " required>
                        <label asp-for="CustomerName" for="Name" class="ms-2">Name</label>
                        <span asp-validation-for="CustomerName" class="text-danger"></span>
                    </div>
                </div>
                <div class="row pb-3">
                    <div class="form-floating col-6 my-3">
                        <input asp-for="CustomerAddress" type="text" class="form-control border-0 shadow" id="CustomerAddress" placeholder=" " required>
                        <label asp-for="CustomerAddress" for="CustomerAddress" class="ms-2">Address</label>
                        <span asp-validation-for="CustomerAddress" class="text-danger"></span>
                    </div>
                </div>
                <div class="row pt-2">
                    <div class="form-floating col-6 my-3">
                        <input asp-for="CustomerTIN" type="text" class="form-control border-0 shadow" id="CustomerTIN" placeholder=" " required>
                        <label asp-for="CustomerTIN" for="CustomerTIN" class="ms-2">TIN</label>
                        <span asp-validation-for="CustomerTIN" class="text-danger"></span>
                    </div>
                </div>
                <div class="row pb-3">
                    <div class="form-floating col-6 my-3">
                        <input asp-for="CustomerBusinessStyle" type="text" class="form-control border-0 shadow" id="CustomerBusinessStyle" placeholder=" " required>
                        <label asp-for="CustomerBusinessStyle" for="CustomerBusinessStyle" class="ms-2">BusinessStyle</label>
                        <span asp-validation-for="CustomerBusinessStyle" class="text-danger"></span>
                    </div>
                </div>
                <div class="row pb-3">
                    <div class="form-floating col-6 my-3">
                        <input asp-for="CustomerTerms" type="text" class="form-control border-0 shadow" id="CustomerTerms" placeholder=" " required>
                        <label asp-for="CustomerTerms" for="CustomerTerms" class="ms-2">Terms</label>
                        <span asp-validation-for="CustomerTerms" class="text-danger"></span>
                    </div>
                </div>
            </div>

            <div class="row">
                <button class="btn btn-primary custom-btn col-3 mx-3" type="submit" id="submitButton"><i class="bi bi-pencil-square"></i> Submit</button>
                <a class="btn btn-primary custom2-btn col-3 mx-2" asp-controller="ActivityService" asp-action="Index">
                    <i class="bi bi-arrow-90deg-left"></i> Go Back
                </a>
            </div>
        </form>
    </div>
</div>
</body>
</html>
