@using IBS.Utility

<div class="card shadow border-0 mt-4">
    <div class="card-header bg-secondary bg-gradient ml-0 py-3">
        <div class="row">
            <div class="col-12 text-center">
                <h2 class="text-white py-2">General Ledger By Journal</h2>
            </div>
        </div>
    </div>
    <div class="card-body p-4">
        <div class="border p-3">
            <form asp-area="User" asp-controller="GeneralLedger" asp-action="DisplayByJournal" >
                <div class="form-group py-2 col-12">
                    <select name="journal" class="form-select js-select2 border-0 shadow" style="width:100%; max-height: 200px;">
                        <option value="" selected disabled>Select journal</option>
                        @foreach (JournalType journals in Enum.GetValues<JournalType>())
                        {
                            <option value="@journals">@journals.ToString()</option>
                        }
                    </select>
                </div>
                <div class="row pt-2">
                    <div class="col-6 col-md-3">
                        <button type="submit" class="btn btn-primary form-control">Generate</button>
                    </div>
                    <div class="col-6 col-md-3">
                        <a asp-area="User" asp-controller="Home" asp-action="Index" class="btn btn-outline-primary border form-control">Back to Homepage</a>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>
