@model CustomerOrderSlipAppointingHauler
@{
    ViewData["Title"] = "COS - Appoint Hauler";
}

<link rel="stylesheet" href="~/css/form-style.css">

<div class="loader-container">
    <div class="loader"></div>
    <div class="loader-text">Loading...</div>
</div>
<div class="card shadow border-0 mt-4">
    <div class="card-header bg-secondary bg-gradient ml-0 py-3">
        <div class="row">
            <div class="col-12 text-center">
                <h2 class="text-white py-2">Reappoint Hauler</h2>
            </div>
        </div>
    </div>
    <div class="card-body p-4">
        <form method="post" class="row">
            @Html.AntiForgeryToken()
            <div class="border-2 p-3">
                <div asp-validation-summary="ModelOnly"></div>
                <input asp-for="CustomerOrderSlipId" type="hidden"/>
                <div class="form-group py-2 col-12">
                    <label class="control-label">Hauler List<span class="required">*</span></label>
                    <select asp-for="HaulerId" asp-items="@Model.Haulers" class="form-select js-select2 border-0 shadow" style="width:100%">
                        <option value="" selected>Select hauler</option>
                    </select>
                    <span asp-validation-for="HaulerId" class="text-danger"></span>
                </div>
                <div class="form-floating py-2 col-12">
                    <input asp-for="Freight" class="form-control border-0 shadow" placeholder="" required min="0.01"/>
                    <label asp-for="Freight" class="ms-2">Freight<span class="required">*</span></label>
                    <span asp-validation-for="Freight" class="text-danger"></span>
                </div>
                <div class="form-floating py-2 col-12">
                    <input asp-for="Driver" class="form-control border-0 shadow" placeholder="" required/>
                    <label asp-for="Driver" class="ms-2">Driver<span class="required">*</span></label>
                    <span asp-validation-for="Driver" class="text-danger"></span>
                </div>
                <div class="form-floating py-2 col-12">
                    <input asp-for="PlateNo" class="form-control border-0 shadow" placeholder="" required/>
                    <label asp-for="PlateNo" class="ms-2">Plate #<span class="required">*</span></label>
                    <span asp-validation-for="PlateNo" class="text-danger"></span>
                </div>
                <div class="row pt-2">
                    <div class="col-6 col-md-3">
                        <button type="submit" class="btn btn-primary form-control">Appoint</button>
                    </div>
                    <div class="col-6 col-md-3">
                        <a asp-area="Filpride" asp-controller="CustomerOrderSlip" asp-action="Index" class="btn btn-outline-primary border  form-control ">Back to List</a>
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>