@{
    ViewData["Title"] = "Export Csv";
}

<div class="container-fluid mt-4">
    <div class="d-flex justify-content-between align-items-center bg-secondary p-3 rounded shadow">
        <h2 class="text-white m-0">Export CSV</h2>
    </div>

    <div class="card shadow border-0 mt-3 p-3">
        <div class="row d-flex justify-content-start mb-1">
            <h5> Select what to import: </h5>
        </div>
        <div class="row mt-2 d-flex justify-content-start">
            <div class="col-3 d-flex justify-content-end">
                <a class="btn btn-primary w-100" asp-area="Filpride" asp-controller="ExportCsv" asp-action="ExportFilprideCollectionReceiptCsvForDcr">
                    <i class="bi bi-file-text"></i> Collection.Csv
                </a>
            </div>
            <div class="col-3 d-flex justify-content-end">
                <a class="btn btn-primary w-100" asp-area="Filpride" asp-controller="ExportCsv" asp-action="ExportFilprideCollectionDetailsToCsvForDcr">
                    <i class="bi bi-file-text"></i> CR_Details.Csv
                </a>
            </div>
            <div class="col-3 d-flex justify-content-end">
                <a class="btn btn-primary w-100" asp-area="Filpride" asp-controller="ExportCsv" asp-action="ExportFilprideCheckVoucherHeaderToCsvForDcr">
                    <i class="bi bi-file-text"></i> Disbursement.Csv
                </a>
            </div>
            <div class="col-3 d-flex justify-content-end">
                <a class="btn btn-primary w-100" asp-area="Filpride" asp-controller="ExportCsv" asp-action="ExportFilprideCheckVoucherDetailsToCsvForDcr">
                    <i class="bi bi-file-text"></i> CV_Details.Csv
                </a>
            </div>
        </div>
        <div class="row mt-2 d-flex justify-content-start">
            <div class="col-3 d-flex justify-content-end">
                <a class="btn btn-primary w-100" asp-area="Filpride" asp-controller="ExportCsv" asp-action="ExportFilprideCollectionReceiptCsvToGDrive">
                    <i class="bi bi-file-text"></i> Collection.Csv (upload)
                </a>
            </div>
            <div class="col-3 d-flex justify-content-end">
                <a class="btn btn-primary w-100" asp-area="Filpride" asp-controller="ExportCsv" asp-action="ExportFilprideCheckVoucherHeaderToGDrive">
                    <i class="bi bi-file-text"></i> Disbursement.Csv (upload)
                </a>
            </div>
            <div class="col-3 d-flex justify-content-end">
                <a class="btn btn-primary w-100" asp-area="Filpride" asp-controller="ExportCsv" asp-action="ExportFilprideCollectionDetailsToGDrive">
                    <i class="bi bi-file-text"></i> CV_Details.Csv (upload)
                </a>
            </div>
        </div>
    </div>
</div>