@model IBS.Models.MMSI.MasterFile.MMSICompanyOwner

@{
    ViewData["Title"] = "Create";

    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="card shadow mt-4">

    <div class="card-header bg-secondary bg-gradient ml-0 py-3">
        <div class="col-12 text-center text-white">
            <h2><i class="bi bi-pencil-square"></i> CREATE TUGBOAT COMPANY/OWNER</h2>
        </div>
    </div>

    <div class="card-body">
        <form method="post" class="row">
            <div class="border-2 px-3">
                <div asp-validation-summary="ModelOnly"></div>
                <div class="row">
                    <div class="form-floating col-6 my-3">
                        <input asp-for="CompanyOwnerName" type="text" class="form-control border-0 shadow" id="CompanyOwnerName" placeholder="Name" required>
                        <label asp-for="CompanyOwnerName" for="CompanyOwnerName" class="ms-2">Company Owner Name<span class="required text-danger">*</span></label>
                        <span asp-validation-for="CompanyOwnerName" class="text-danger"></span>
                    </div>
                    <div class="form-floating col-6 my-3">
                        <input asp-for="CompanyOwnerNumber" type="text" class="form-control border-0 shadow" id="CompanyOwnerNumber" placeholder="Number" required>
                        <label asp-for="CompanyOwnerNumber" for="CompanyOwnerNumber" class="ms-2">Company/Owner Number<span class="required text-danger">*</span></label>
                        <span asp-validation-for="CompanyOwnerNumber" class="text-danger"></span>
                    </div>
                </div>
            </div>
            <div class="row justify-content-end mt-3">
                <div class="text-center" style="width: 250px;">
                    <button class="btn btn-primary custom-btn col-12" type="submit" id="submitButton"><i class="bi bi-pencil-square"></i> Submit</button>
                </div>
                <div class="text-center" style="width: 250px;">
                    <a class="btn btn-outline-primary border col-12" asp-controller="CompanyOwner" asp-action="Index">
                        <i class="bi bi-arrow-90deg-left"></i> Go Back
                    </a>
                </div>
            </div>
        </form>
    </div>
</div>