@model IBS.Models.MMSI.MasterFile.MMSICompanyOwner

@{
    ViewData["Title"] = "Edit";
}

<div class="card shadow mt-4">

    <div class="card-header bg-secondary bg-gradient ml-0 py-3">
        <div class="col-12 text-center text-white">
            <h2>EDIT COMPANY/OWNER</h2>
        </div>
    </div>
    
    <div class="card-body">
        <form method="post" class="row">
            <div class="border-2 px-3">
                <div asp-validation-summary="ModelOnly"></div>
                <input asp-for="MMSICompanyOwnerId" value="@Model.MMSICompanyOwnerId" style="display: none" />
                <div class="row pt-2">
                    <div class="form-floating col-6 my-3">
                        <input asp-for="CompanyOwnerName" value="@Model.CompanyOwnerName" type="text" class="form-control border-0 shadow" id="TugboatName" placeholder="Name" required>
                        <label asp-for="CompanyOwnerName" for="TugboatName" class="ms-2">Tugboat Company/Owner Name<span class="required text-danger">*</span></label>
                        <span asp-validation-for="CompanyOwnerName" class="text-danger"></span>
                    </div>
                    <div class="form-floating col-6 my-3">
                        <input asp-for="CompanyOwnerNumber" value="@Model.CompanyOwnerNumber" type="text" class="form-control border-0 shadow" id="CompanyOwnerNumber" placeholder="Number" required>
                        <label asp-for="CompanyOwnerNumber" for="CompanyOwnerNumber" class="ms-2">Tugboat Company/Owner Number<span class="required text-danger">*</span></label>
                        <span asp-validation-for="CompanyOwnerNumber" class="text-danger"></span>
                    </div>
                </div>
            </div>
            <div class="row justify-content-end mt-3">
                <div class="text-center" style="width: 250px;">
                    <button class="btn btn-primary custom-btn col-12" type="submit" id="submitButton">Submit</button>
                </div>
                <div class="text-center" style="width: 250px;">
                    <a class="btn btn-outline-primary border col-12" asp-controller="CompanyOwner" asp-action="Index">
                        Go Back
                    </a>
                </div>
            </div>
        </form>
    </div>
</div>